
#contentHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 100vh;
    margin: auto;
}
.titleContainer{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.titleIntro{
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 10px;  
    margin: 0;
    
}

.titleName{
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
    
}

.titleInfo{
    font-weight: 400;
    font-size: 1.2rem;  
    margin-top: 10px;
    margin: 0;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 50%;
}

.links{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5%;
}
.profileButton{
    background-color: #FF296D;
    border-radius: 14px;
    padding: 13px 25px;
    font-weight: 700;
    font-size: 100%;
}
.socialMedia{
    display: flex;
    gap: 12%;
}
.icon{
    width: 70%;
}
.image{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    position: relative;
}
.effect{
        width: 300px;
        position: absolute;
        left: 0%;
}

.effect2{
    width: 150px;
    position: absolute;
    bottom: 15%;
    left: 24%;
}

.hexagon{
    width: 300px;
    height: 259.815px;
    transform: rotate(30deg);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    position: relative;
    left: 30%;
    top: 5%; 
}
.profileImage{
    width: 300px;
    height: 300px;
    transform: rotate(-30deg);
    position: absolute;
    top: -5%;
    right: 5%;
}

.ellipse1{
    position: absolute;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    bottom: -70%;
    left: -45%;
    z-index: -1;
    opacity: 40%;
}
.ellipse2{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(circle at center, #ff2a6d, rgba(255, 255, 255, 0));
    box-shadow: 100px -10px 65px rgba(255, 42, 109, 0.5);
    opacity: 50%;
    position: absolute;
    top: 15%;
    left: 40%;
    z-index: -1;
}

@media (max-width: 1010px){
    #contentHeader{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

    }
    .image {
        width: 240px; /* Reduzido em 20% */
        height: 240px; /* Reduzido em 20% */
        display: flex;
        justify-content: center;
        position: relative;
        order: -1;
        margin-bottom: 10%;
    }
    
    .effect {
        width: 240px; /* Reduzido em 20% */
        position: absolute;
        left: 0%;
    }
    
    .effect2 {
        width: 120px; /* Reduzido em 20% */
        position: absolute;
        bottom: 12%; /* Reduzido em 20% */
        left: 19.2%; /* Reduzido em 20% */
    }
    
    .hexagon {
        width: 240px; /* Reduzido em 20% */
        height: 207.852px; /* Reduzido em 20% */
        transform: rotate(30deg);
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        position: relative;
        left: 24%; /* Reduzido em 20% */
        top: 4%; /* Reduzido em 20% */
    }
    
    .profileImage {
        width: 240px; /* Reduzido em 20% */
        height: 240px; /* Reduzido em 20% */
        transform: rotate(-30deg);
        position: absolute;
        top: -4%; /* Reduzido em 20% */
        right: 4%; /* Reduzido em 20% */
    }
    
    .ellipse1 {
        position: absolute;
        border-radius: 50%;
        width: 400px; /* Reduzido em 20% */
        height: 400px; /* Reduzido em 20% */
        bottom: -56%; /* Reduzido em 20% */
        left: -36%; /* Reduzido em 20% */
        z-index: -1;
        opacity: 40%;
    }
    
    .ellipse2 {
        width: 160px; /* Reduzido em 20% */
        height: 160px; /* Reduzido em 20% */
        border-radius: 50%;
        background: radial-gradient(circle at center, #ff2a6d, rgba(255, 255, 255, 0));
        box-shadow: 80px -8px 52px rgba(255, 42, 109, 0.5);
        opacity: 50%;
        position: absolute;
        top: 12%; /* Reduzido em 20% */
        left: 32%; /* Reduzido em 20% */
        z-index: -1;
    }
    .titleContainer{
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        text-align: center;
    }
    .links{
        justify-content: center;
    }
    

}

@media(max-width: 540px){
    .image {
        width: 168px; /* Reduzido em 30% */
        height: 168px; /* Reduzido em 30% */
        display: flex;
        justify-content: center;
        position: relative;
        order: -1;
        margin-bottom: 7%; /* Reduzido em 30% */
    }
    
    .effect {
        width: 168px; /* Reduzido em 30% */
        position: absolute;
        left: 0%;
    }
    
    .effect2 {
        width: 84px; /* Reduzido em 30% */
        position: absolute;
        bottom: 8.4%; /* Reduzido em 30% */
        left: 13.44%; /* Reduzido em 30% */
    }
    
    .hexagon {
        width: 168px; /* Reduzido em 30% */
        height: 145.497px; /* Reduzido em 30% */
        transform: rotate(30deg);
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        position: relative;
        left: 16.8%; /* Reduzido em 30% */
        top: 3.6%; /* Reduzido em 30% */
    }
    
    .profileImage {
        width: 190px;
        height: 190px; 
        transform: rotate(-30deg);
        position: absolute;
        top: -3.6%; /* Reduzido em 30% */
        right: 3.6%; /* Reduzido em 30% */
    }
    
    .ellipse1 {
        position: absolute;
        border-radius: 50%;
        width: 280px; /* Reduzido em 30% */
        height: 280px; /* Reduzido em 30% */
        bottom: -39.2%; /* Reduzido em 30% */
        left: -25.2%; /* Reduzido em 30% */
        z-index: -1;
        opacity: 40%;
    }
    
    .ellipse2 {
        width: 112px; /* Reduzido em 30% */
        height: 112px; /* Reduzido em 30% */
        border-radius: 50%;
        background: radial-gradient(circle at center, #ff2a6d, rgba(255, 255, 255, 0));
        box-shadow: 56.4px -5.6px 36.4px rgba(255, 42, 109, 0.5);
        opacity: 50%;
        position: absolute;
        top: 8.4%; /* Reduzido em 30% */
        left: 22.4%; /* Reduzido em 30% */
        z-index: -1;
    }
    
    .links{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .profileButton{
        background-color: #FF296D;
        border-radius: 14px;
        padding: 13px 25px;
        font-weight: 700;
        font-size: 100%;
    }
    .socialMedia a{
        display: flex;
        justify-content: center;
    }
    .titleName{
        font-weight: 700;
        font-size: 1.4rem;
        margin: 0;
    }
    .titleInfo{
        font-weight: 400;
        font-size: 0.8rem;  
        margin-top: 10px;
        margin: 0;
    }

    .titleIntro{
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 4px;  
        margin: 0;
        
    }
    

}



