#header{
    height: 100vh;
}

#contentHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.titleContainer{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.titleIntro{
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 10px;  
}

.titleName{
    font-weight: 700;
    font-size: 3rem;
}

.titleInfo{
    font-weight: 400;
    font-size: 1.2rem;  
    margin-top: 10px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 50%;
}

.links{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.downloadCv{
    width: 30%;
    display: flex;
    justify-content: flex-start;
}

.profileButton{
    background-color: #FF296D;
    border-radius: 14px;
    padding: 9% 18%;
    font-weight: 700;
    text-align: center;
    font-size: 100%;
}
.socialMedia{
    display: flex;
    gap: 12%;
}
.icon{
    width: 70%;
}
.image{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    position: relative;
}
.effect{
        width: 300px;
        position: absolute;
        left: 0%;
}

.effect2{
    width: 150px;
    position: absolute;
    bottom: 15%;
    left: 24%;
}

.hexagon{
    width: 300px;
    height: 259.815px;
    transform: rotate(30deg);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    position: relative;
    left: 30%;
    top: 5%; 
}
.profileImage{
    width: 300px;
    height: 300px;
    transform: rotate(-30deg);
    position: absolute;
    top: -5%;
    right: 5%;
}

.ellipse1{
    position: absolute;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    bottom: -70%;
    left: -45%;
    z-index: -1;
    opacity: 40%;
}
.ellipse2{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(circle at center, #ff2a6d, rgba(255, 255, 255, 0));
    box-shadow: 100px -10px 65px rgba(255, 42, 109, 0.5);
    opacity: 50%;
    position: absolute;
    top: 15%;
    left: 40%;
    z-index: -1;
}