
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 5%;
    width: 100%;
    border-bottom: 1px solid #FFF;
    position: relative;
}

.logo{
    display: flex;
    justify-content: space-between;
    font-size: 2.6vh;
    font-weight: 700;
}
#menu{
    display: none;
}

.logoSecondName{
    margin: 15% 0 0 0;
}
.navList{
    display: flex;
    justify-content: center;
    width: 65%;
    font-size: 1.8vh;
    font-weight: 400;
    
}
.list{
    width: 100%;
    justify-content: flex-end;
    margin: 0;
}
.navList .list{
    display: flex;
    gap: 15%;
}

@media (max-width: 1010px) {
    .navBar{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 13px 5%;
        width: 100%;
        height: 100px;
    }
    .navList .list{
        display: none;
    }
    .navList{
        display: flex;
        align-items: flex-end;
        font-size: 1.8vh;
        font-weight: 400;
        width: auto;
        
    }
      #menu{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 50px;
        padding-top: 28px;
        z-index: 2;
      }
      #menu-bar {
        width: 37px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
      }
      
      .bar {
        height: 5px;
        width: 100%;
        background-color: #ffffff;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
        
      }
      
      #bar1 {
        transform: translateY(-4px);
      }
      
      #bar3 {
        transform: translateY(4px);
      }
      
      .nav {
        transition: 0.3s ease;
        display: none;
        background-color: #0F1624;
        border: 1px solid #c9c9c9;
        border-radius: 10px;
      }
      
      .nav ul {
        padding: 0 22px;
      }
      
      .nav li {
        list-style: none;
        padding: 12px 0;
      }
      
      .nav li a {
        color: white;
        font-size: 20px;
        text-decoration: none;
      }
      
      .nav li a:hover {
        font-weight: bold;
      }
      
      .change {
        display: flex;
      }
      
      .change .bar {
        background-color: white;
      }
      
      .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
      }
      
      .change #bar2 {
        opacity: 0;
      }
      
      .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
      }
      .logo{
      display: flex;
      justify-content: space-between;
      font-size: 22px;
      font-weight: 700;
      align-items: center;
      height: 100%;
    }

    .logoSecondName{
      margin-top: 25px;
    }
    .logoFirstName{
      margin-bottom: 25px;
    }
      
}

@media (max-width: 540px){
  .logo{
    font-size: 18px;
  }

}
