
.navBar{
    border-bottom: 2px solid #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 5%;
    width: 100%;
    border-bottom: 1px solid #FFF;
    position: relative;
}

.logo{
    display: flex;
    justify-content: space-between;
    font-size: 2.6vh;
    font-weight: 700;
}

.logoSecondName{
    margin: 15% 0 0 0;
}
.navList{
    display: flex;
    justify-content: center;
    width: 65%;
    font-size: 1.8vh;
    font-weight: 400;
    
}
.list{
    width: 100%;
    justify-content: flex-end;
    margin: 0;
}
.navList .list{
    display: flex;
    gap: 15%;
}
